language: perl
perl:
  - "5.16.3"
  - "5.20.2"
env:
  - PERL_CPANM_OPT="-v --mirror http://cpan.cpantesters.org/ --mirror http://search.cpan.org/CPAN --mirror http://cpan.mirrors.travis-ci.org --cascade-search --notest --force --skip-satisfied --no-interactive"
before_install:
  - sudo apt-get install postgresql libdbd-pg-perl cpanminus
  - sudo cpanm --notest --verbose --no-interactive --skip-satisfied App::Sqitch
  - sudo cpanm -n Module::Install Catalyst::Devel Text::CSV JSON::Any MooseX::Types::JSON
  - sudo cpanm -n DBIx::Class
  - sudo cpanm -n DBIx::Class::Optional::Dependencies
  - sudo cpanm -n Catalyst::Plugin::Assets
before_script:
  - psql -c 'create database iota_production;' -U postgres
  - sqitch -d iota_production deploy
notifications:
  irc:
    channels:
      # - "chat.freenode.net#iota"
